
fastapi 
uvicorn[standard]
python-multipart
httpx
sqlalchemy
databases[aiosqlite]
databases[asyncpg]
sentry-sdk[fastapi]
psycopg2-binary
python-dotenv
pydantic-settings
rich
asgi-correlation-id
python-json-logger
requests
logtail-python
sniffio
pyjwt
argon2-cffi
aiofiles
b2sdk
google-genai

