
fastapi 
uvicorn
python-multipart
httpx
sqlalchemy
databases
aiosqlite
python-dotenv
pydantic-settings
rich
asgi-correlation-id
python-json-logger
requests
logtail-python
sniffio
pyjwt
argon2-cffi
aiofiles
b2sdk
pytest-mock
google-genai

